@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  /*insert*/
  color:rgb(85, 84, 84);
  text-rendering:optimizeSpeed;
}
*,*::after,*::before{
  box-sizing:border-box;
}
html{
  font-size:18px;
}
ul,ol{
  list-style: none;
  margin:0;
  padding:0;
}
input,
button,
textarea,select{
  font-size:inherit;
}
a:not([class]){
  text-decoration: none;
  color:rgb(85, 84, 84);
}
img {
  width: 700px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  /*insert*/
  padding:0.7em 1.125em;
  font-weight:500;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 600px;
  margin-bottom: 16px;
}
body{
  display:flex;
  justify-content:space-between;
  flex-direction: column;;
}
.header,
.footer{
  display:flex;
  justify-content:space-between;
  padding:0.7em 1em;
}
.right-links,
.left-links{
  display:flex;
  gap:1em;

}
.content{
 text-align:center;
}
.footer{
  background-color:#eee;
}